<%= form_for(@ihateerb) do |f| %>
  <% if @ihateerb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ihateerb.errors.count, "error") %> prohibited this ihateerb from being saved:</h2>

      <ul>
      <% @ihateerb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
