// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}





@mixin drop-shadow($vertical, $horizontal, $size, $color) {
    -moz-box-shadow: $vertical $horizontal $size $color;
    -webkit-box-shadow: $vertical $horizontal $size $color;
    box-shadow: $vertical $horizontal $size $color;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -o-user-select: $value;
    user-select: $value;
    
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin gradient($color_one, $color_one_percentage, $color_two, $color_two_percentage) {
    background-image: linear-gradient(bottom, $color_one $color_one_percentage, $color_two $color_two_percentage);
    background-image: -o-linear-gradient(bottom, $color_one $color_one_percentage, $color_two $color_two_percentage);
    background-image: -moz-linear-gradient(bottom, $color_one $color_one_percentage, $color_two $color_two_percentage);
    background-image: -webkit-gradient(linear, left top, left bottom, from($color_two), to($color_one));
    background-image: -ms-linear-gradient(bottom, $color_one $color_one_percentage, $color_two $color_two_percentage);
}

@mixin cursor-pointer {
    cursor: pointer;
    cursor: hand;
}

#desktop {
  @include user-select(none);
  background-color: blue;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0;
  buffer: 0;
  padding: 0;
  
  .icon {
    height: 32px;
    width: 32px;
    margin: 16px;
    float: left;
  }
  
  #application-bar {
    height: 100px;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    
    .launch-button {
        float: left;
        height: 80%;
        width: 80px;
        background-color: pink;
        border: 2px solid black;
    }
    
    .minimized-applications {
        height: 80%;
        background-color: purple;
        border: 2px solid black;
        
        .minimized {
            float: left;
            border: 2px solid green;
            @include cursor-pointer;
            background-color: gray;
        }
    }
  }
  
  .window {
    border: 1px solid black;
    @include user-select(none);
    @include drop-shadow(2px, 2px, 4px, black);
    // doesn't work because chrome still draws inner elements beyond rounded corner
    //@include border-radius(5px);
    &.selected {
        @include drop-shadow(2px, 2px, 9px, black);
    }
    
    &.minimized {
        display: none;
    }
    
    height: 100px;
    width: 100px;
    background-color: white;
    overflow: auto;
    position: absolute;
    left: 100px;
    top: 20px;
    
    &.not-resizeable {
        border: 0;
        .resize {
            display: none;
        }
    }
    
    .resize {
        background-color: rgba(196,196,0, 0);
        position: absolute;
        width: 10px;
        height: 10px;
        
      
    
        &.bottom {
            bottom: 0;
            width: 100%;
            cursor: ns-resize;
        }
        
        &.bottom-left {
            position: absolute;
            left: 0px;
            cursor: nesw-resize;
        }
        
        &.bottom-right {
            position: absolute;
            right: 0px;
            cursor: nwse-resize;
        }
    
    
        &.side {
            top: 0;
            height: 100%;
            cursor: ew-resize;
        
            &.left {
                left: 0;
            }
        
            &.right {
                right: 0;
            }
        }
        
        &.top {
            top: 0;
            width: 100%;
            cursor: ns-resize;
        }
        
        &.top-right {
            right: 0;
            cursor: nesw-resize;
        }
        &.top-left {
            left: 0;
            cursor: nwse-resize;
        }
    }
    
    .title-bar {
        @include gradient(rgb(32,204,227), 23%, rgb(29,64,237), 86%);
        height: 2px;
        cursor: move;
        border-bottom: 3px solid black;
        
        img.icon {
            width: 24px;
            height: 24px;
            float: right;
        }
        
        .button{
            @include border-radius(12px);
            
            height: 12px;
            width: 12px;
            float: left;
            margin-left: 4px;
            margin-top: 8px;
            @include cursor-pointer;
            &.close {
                margin-left: 12px;
                background-color: red;
            }
            &.minimize {
               background-color: yellow;
            }
        &.maximize {
               background-color: green;
            }   
        }
    }
    
    .body {
      background-color: green;
      position: relative;
      width: 100%;
      &.dragging {
        display: none
      }
    }
    &.dragging {
        .title-bar {
            background-color: #55f;
        }
        .body {
            display: none;
            
        }
    
    background-color: rgba(64,64,255,.5);
    }
  }
  .other{}
}