// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin drop-shadow($vertical, $horizontal, $size, $color) {
    -moz-box-shadow: $vertical $horizontal $size $color;
    -webkit-box-shadow: $vertical $horizontal $size $color;
    box-shadow: $vertical $horizontal $size $color;
}

#desktop {
  background-color: blue;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 0;
  buffer: 0;
  padding: 0;
  
  .window {
    @include drop-shadow(2px, 2px, 4px, black);
    &.selected {
        @include drop-shadow(2px, 2px, 9px, black);
    }
    
    height: 100px;
    width: 100px;
    background-color: white;
    overflow: auto;
    position: absolute;
    left: 100px;
    top: 20px;
    
    .resize {
        background-color: rgba(196,196,0,0);
        position: absolute;
        width: 7px;
        height: 7px;
    
        &.bottom {
            bottom: 0;
            width: 100%;
            cursor: ns-resize;
        }
        
        &.bottom-left {
            position: absolute;
            left: 0px;
            cursor: nesw-resize;
        }
        
        &.bottom-right {
            position: absolute;
            right: 0px;
            cursor: nwse-resize;
        }
    
    
        &.side {
            top: 0;
            height: 100%;
            cursor: ew-resize;
        
            &.left {
                left: 0;
            }
        
            &.right {
                right: 0;
            }
        }
        
        &.top {
            top: 0;
            width: 100%;
            cursor: ns-resize;
        }
        
        &.top-right {
            right: 0;
            cursor: nesw-resize;
        }
        &.top-left {
            left: 0;
            cursor: nwse-resize;
        }
    }
    
    .title-bar {
      background-color: #55c;
      height: 25px;
      cursor: move;
    }
    
    .body {
      background-color: green;
      position: relative;
      &.dragging {
        display: none
      }
    }
    &.dragging {
        .title-bar {
            background-color: #55f;
        }
        .body {
            display: none;
        }
    
    }
  }
  .other{}
}